<%- include("partials/header") %>

<h1>WELCOME TO THE LANDING PAGE!!! </h1>
<p>this will be the landing page soon</p>

<a href="/campgrounds"> view all campgrounds </a>

<%- include("partials/footer") %>